Repository motioneye-project/motioneye, pull requests merged in 2023-09, with the labels that each got.

#2822 Translations update from Hosted Weblate
  motioneye/locale/ar/LC_MESSAGES/motioneye.js.po
  motioneye/locale/ar/LC_MESSAGES/motioneye.po
  motioneye/locale/bn/LC_MESSAGES/motioneye.js.po
  motioneye/locale/bn/LC_MESSAGES/motioneye.po
  motioneye/locale/ca/LC_MESSAGES/motioneye.js.po
  motioneye/locale/ca/LC_MESSAGES/motioneye.po
  motioneye/locale/cs/LC_MESSAGES/motioneye.js.po
  motioneye/locale/cs/LC_MESSAGES/motioneye.po
  motioneye/locale/de/LC_MESSAGES/motioneye.js.po
  motioneye/locale/de/LC_MESSAGES/motioneye.po
  motioneye/locale/el/LC_MESSAGES/motioneye.js.po
  motioneye/locale/el/LC_MESSAGES/motioneye.po
  motioneye/locale/en/LC_MESSAGES/motioneye.js.po
  motioneye/locale/en/LC_MESSAGES/motioneye.po
  motioneye/locale/es/LC_MESSAGES/motioneye.js.po
  motioneye/locale/es/LC_MESSAGES/motioneye.po
  motioneye/locale/fi/LC_MESSAGES/motioneye.js.po
  motioneye/locale/fi/LC_MESSAGES/motioneye.po
  motioneye/locale/fr/LC_MESSAGES/motioneye.js.po
  motioneye/locale/fr/LC_MESSAGES/motioneye.po
  motioneye/locale/hi/LC_MESSAGES/motioneye.js.po
  motioneye/locale/hi/LC_MESSAGES/motioneye.po
  motioneye/locale/hu/LC_MESSAGES/motioneye.js.po
  motioneye/locale/hu/LC_MESSAGES/motioneye.po
  motioneye/locale/it/LC_MESSAGES/motioneye.js.po
  motioneye/locale/it/LC_MESSAGES/motioneye.po
  motioneye/locale/ja/LC_MESSAGES/motioneye.js.po
  motioneye/locale/ja/LC_MESSAGES/motioneye.po
  motioneye/locale/ko/LC_MESSAGES/motioneye.js.po
  motioneye/locale/ko/LC_MESSAGES/motioneye.po
  motioneye/locale/ms/LC_MESSAGES/motioneye.js.po
  motioneye/locale/ms/LC_MESSAGES/motioneye.po
  motioneye/locale/nb_NO/LC_MESSAGES/motioneye.js.po
  motioneye/locale/nb_NO/LC_MESSAGES/motioneye.po
  motioneye/locale/nl/LC_MESSAGES/motioneye.js.po
  motioneye/locale/nl/LC_MESSAGES/motioneye.po
  motioneye/locale/pa/LC_MESSAGES/motioneye.js.po
  motioneye/locale/pa/LC_MESSAGES/motioneye.po
  motioneye/locale/pl/LC_MESSAGES/motioneye.js.po
  motioneye/locale/pl/LC_MESSAGES/motioneye.po
  motioneye/locale/pt/LC_MESSAGES/motioneye.js.po
  motioneye/locale/pt/LC_MESSAGES/motioneye.po
  motioneye/locale/ro/LC_MESSAGES/motioneye.js.po
  motioneye/locale/ro/LC_MESSAGES/motioneye.po
  motioneye/locale/ru/LC_MESSAGES/motioneye.js.po
  motioneye/locale/ru/LC_MESSAGES/motioneye.po
  motioneye/locale/sk/LC_MESSAGES/motioneye.js.po
  motioneye/locale/sk/LC_MESSAGES/motioneye.po
  motioneye/locale/sv/LC_MESSAGES/motioneye.js.po
  motioneye/locale/sv/LC_MESSAGES/motioneye.po
  motioneye/locale/uk/LC_MESSAGES/motioneye.js.po
  motioneye/locale/uk/LC_MESSAGES/motioneye.po
  motioneye/locale/zh/LC_MESSAGES/motioneye.js.po
  motioneye/locale/zh/LC_MESSAGES/motioneye.po
Labels: i18n/l10n

#2829 Update README.md
  docker/README.md
Labels: docker, documentation

#2830 [CI] docker: Update base image and fix armhf builds
  docker/Dockerfile
Labels: bug, enhancement, docker, CI/CD
